<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sagereal.srfactorymode">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.record_audio"
        android:required="true" />

    <uses-feature android:name="android.hardware.camera.flash" android:required="true" />
    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!-- 并非所有设备都需要这个权限 -->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SRFactoryMode"
        tools:targetApi="31">
        <activity
            android:name=".KeyTestActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ReceiverTestActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SpeakerTestActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".LCDTestActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".HeadphoneTestActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MicrophoneTestActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".VibrationTestActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".FlashTestActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".CameraTestActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".BatteryTestActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SingleTestActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".TestReportActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>